{
  "family": "${TASK_FAMILY}",
  "networkMode": "awsvpc",
  "executionRoleArn": "arn:aws:iam::${ACCOUNT_ID}:role/ECSTaskExecutorRole",
  "taskRoleArn": "arn:aws:iam::${ACCOUNT_ID}:role/ECSTaskRole",
  "memory": "400",
  "cpu": "750",
  "containerDefinitions": [
    {
      "name": "${SERVICE_NAME}-container",
      "image": "${IMAGE_URI}",
      "memory": 375,
      "cpu": 750,
      "memoryReservation": 350,
      "essential": true,
      "stopTimeout": 5,
      "portMappings": [
        {
          "containerPort": 8000,
          "hostPort": 8000,
          "protocol": "tcp"
        }
      ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "/ecs/${SERVICE_NAME}",
          "awslogs-region": "${AWS_REGION}",
          "awslogs-stream-prefix": "ecs"
        }
      }
    }
  ],
  "requiresCompatibilities": [
    "EC2"
  ]
}